In [3]:
import jupytools.syspath
jupytools.syspath.add('..')

import csv
import json

import pandas as pd
from tqdm.notebook import tqdm

from basedir import TRAIN, TRAIN_LABELS, TRAIN_SPECS

In [4]:
trn_data = pd.read_csv(TRAIN)
trn_target = pd.read_csv(TRAIN_LABELS)
trn_specs = pd.read_csv(TRAIN_SPECS)

In [6]:
trn_data.head(2)

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK

In [7]:
trn_target.head(2)

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0

In [8]:
trn_specs.head(3)

,event_id,info,args
0,2b9272f4,The end of system-initiated feedback (Correct)...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
1,df4fe8b6,The end of system-initiated feedback (Incorrec...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
2,3babcb9b,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."

In [14]:
trn_data.shape

(11341042, 11)

In [16]:
trn_dataset = pd.merge(
    pd.merge(trn_data, 
             trn_target, 
             on=['game_session', 'installation_id'], 
             how='left'),
    trn_specs,
    on='event_id',
    how='left'
)

In [17]:
trn_dataset.sample(3)

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title_x,type,world,title_y,num_correct,num_incorrect,accuracy,accuracy_group,info,args
8408239,cfbd47c8,a6d69813b3dc8781,2019-07-29T01:30:04.809Z,"{""weight"":1,""source"":""resources"",""resources"":[...",bbb84efa,52,4030,59641,Chow Time,Game,CRYSTALCAVES,NaN,NaN,NaN,NaN,NaN,This event occurs when the player clicks to pi...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
3718667,67439901,2326638c3784a1b6,2019-09-23T16:32:44.654Z,"{""description"":""I'll add this one to your coll...",52518080,77,3010,87346,Bottle Filler (Activity),Activity,MAGMAPEAK,NaN,NaN,NaN,NaN,NaN,The system-initiated instruction event occurs ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
6142804,71fe8f75,7729edbee3e1678c,2019-10-03T01:37:20.658Z,"{""description"":""Drag a bug over here! idle"",""i...",8833c392,7,3110,16822,Bug Measurer (Activity),Activity,TREETOPCITY,NaN,NaN,NaN,NaN,NaN,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."

In [2]:
def flatten(x, acc=None, prefix=''):
    def _parse(k, v, a):
        if isinstance(v, dict):
            for new_k, new_v in v.items():
                _parse(f'{k}_{new_k}', new_v, a)
        elif isinstance(v, list):
            for i, new_v in enumerate(v):
                _parse(f'{k}_{i}', new_v, a)
        elif isinstance(v, (int, float, str)):
            acc[k] = v
    
    acc = {}
    for key, value in x.items():
        _parse(key, value, acc)
    return acc

In [25]:
n_lines = 11341042
rows = []
with TRAIN.open() as lines:
    reader = csv.DictReader(lines)
    for line in tqdm(reader, total=n_lines):
        obj = json.loads(line['event_data'])
        obj = flatten(obj)
        rows.append(obj)

HBox(children=(IntProgress(value=0, max=11341042), HTML(value='')))

In [32]:
from itertools import chain
keys = set(chain(*[list(r.keys()) for r in rows]))

In [37]:
from collections import defaultdict
groups = defaultdict(list)
for row in rows:
    code = row['event_code']
    groups[code].append(row)

In [40]:
groups.keys()

dict_keys([2000, 3010, 3110, 4070, 4090, 4030, 4035, 4021, 4020, 4010, 2080, 2083, 2040, 2020, 2030, 3021, 3121, 2050, 3020, 3120, 2060, 2070, 4031, 4025, 5000, 5010, 2081, 2025, 4022, 2035, 4040, 4100, 2010, 4110, 4045, 4095, 4220, 2075, 4230, 4235, 4080, 4050])

In [97]:
import random
import numpy as np
from pprint import pprint
from IPython.display import display, HTML
for code, examples in groups.items():
    tag = f'<strong>Code: {code}</strong>'
    if examples:
        sample = pd.DataFrame(np.random.choice(examples, size=5).tolist())
        tag += sample.to_html()
    else:
        tag += '<strong>No events</strong>'
    display(HTML(tag))

In [43]:
trn_df = pd.read_csv(TRAIN)

In [44]:
trn_df.head()

,event_id,game_session,timestamp,event_data,installation_id,event_count,event_code,game_time,title,type,world
0,27253bdc,45bb1e1b6b50c07b,2019-09-06T17:53:46.937Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Welcome to Lost Lagoon!,Clip,NONE
1,27253bdc,17eeb7f223665f53,2019-09-06T17:54:17.519Z,"{""event_code"": 2000, ""event_count"": 1}",0001e90f,1,2000,0,Magma Peak - Level 1,Clip,MAGMAPEAK
2,77261ab5,0848ef14a8dc6892,2019-09-06T17:54:56.302Z,"{""version"":""1.0"",""event_count"":1,""game_time"":0...",0001e90f,1,2000,0,Sandcastle Builder (Activity),Activity,MAGMAPEAK
3,b2dba42b,0848ef14a8dc6892,2019-09-06T17:54:56.387Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,2,3010,53,Sandcastle Builder (Activity),Activity,MAGMAPEAK
4,1bb5fbdb,0848ef14a8dc6892,2019-09-06T17:55:03.253Z,"{""description"":""Let's build a sandcastle! Firs...",0001e90f,3,3110,6972,Sandcastle Builder (Activity),Activity,MAGMAPEAK

In [45]:
trn_df.shape

(11341042, 11)

In [51]:
trn_labels_df = pd.read_csv(TRAIN_LABELS)

In [52]:
trn_labels_df.head()

,game_session,installation_id,title,num_correct,num_incorrect,accuracy,accuracy_group
0,6bdf9623adc94d89,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
1,77b8ee947eb84b4e,0006a69f,Bird Measurer (Assessment),0,11,0.0,0
2,901acc108f55a5a1,0006a69f,Mushroom Sorter (Assessment),1,0,1.0,3
3,9501794defd84e4d,0006a69f,Mushroom Sorter (Assessment),1,1,0.5,2
4,a9ef3ecb3d1acc6a,0006a69f,Bird Measurer (Assessment),1,0,1.0,3

In [53]:
trn_specs_df = pd.read_csv(TRAIN_SPECS)

In [54]:
trn_specs_df.head()

,event_id,info,args
0,2b9272f4,The end of system-initiated feedback (Correct)...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
1,df4fe8b6,The end of system-initiated feedback (Incorrec...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
2,3babcb9b,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
3,7f0836bf,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."
4,ab3136ba,The end of system-initiated instruction event ...,"[{""name"":""game_time"",""type"":""int"",""info"":""mill..."

In [55]:
trn_df.shape, trn_labels_df.shape, trn_specs_df.shape

((11341042, 11), (17690, 7), (386, 3))

In [ ]:
trn_specs_df

In [73]:
trn_df['description'] = trn_df.event_id.map(trn_specs_df.set_index('event_id')['info'].to_dict())

In [79]:
codes = (trn_df
         .drop_duplicates(subset=['description'])[['event_code', 'description']]
         .reset_index(drop=True))

In [92]:
from IPython.display import display, HTML
content = [
    f'<caption><strong>Total number of events: {len(codes)}</strong></caption>'
    '<thead><th>Code</th><th>Description</th></thead>'
]
for r in codes.sort_values(by='event_code').to_dict('record'):
    code, descr = r['event_code'], r['description']
    content.append(f'<tr><td>{code}</td><td>{descr}</td></tr>')
HTML(f"<table>{''.join(content)}</table>")